<%- include('partials/layout', { title: 'Fitness Tools', user: (typeof user !== 'undefined' ? user : null) }) %>
<section class="card">
  <h1 class="m-0">Fitness Tools</h1>
  <ul class="mt-2">
    <li><a href="<%= (typeof basePath !== 'undefined' ? basePath : '') %>/tools/bmi">BMI Calculator</a></li>
    <li><a href="<%= (typeof basePath !== 'undefined' ? basePath : '') %>/tools/bmr">BMR & TDEE Calculator</a></li>
    <li><a href="<%= (typeof basePath !== 'undefined' ? basePath : '') %>/tools/hr">Heart Rate Zones</a></li>
    <li><a href="<%= (typeof basePath !== 'undefined' ? basePath : '') %>/tools/macros">Macro Calculator</a></li>
    <li><a href="<%= (typeof basePath !== 'undefined' ? basePath : '') %>/tools/water">Water Intake</a></li>
    <li><a href="<%= (typeof basePath !== 'undefined' ? basePath : '') %>/tools/nutrition">Nutrition Lookup</a></li>
  </ul>
</section>
<%- include('partials/footer') %>
